# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BINGO_LEFT

    config ZMK_KEYBOARD_NAME
    default "Bingo"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif # BOARD_BINGO_LEFT

if BOARD_BINGO_RIGHT

    config ZMK_KEYBOARD_NAME
    default "Bingo right"

endif # BOARD_BINGO_RIGHT

if BOARD_BINGO_LEFT || BOARD_BINGO_RIGHT || BOARD_NICE_NANO || BOARD_NICE_NANO_V2

    config BOARD
        default "bingo"

    config ZMK_SPLIT
        default y

    config ZMK_RGB_UNDERGLOW
    	select WS2812_STRIP
    	select SPI

    config ZMK_DISPLAY
        select LVGL_USE_CONT
        select LVGL_FONT_MONTSERRAT_26
        select LVGL_FONT_MONTSERRAT_20
        select LVGL_FONT_MONTSERRAT_16
        select LVGL_USE_LABEL
        select LVGL_USE_IMG

    if ZMK_DISPLAY

        choice ZMK_DISPLAY_STATUS_SCREEN
        	default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
        endchoice

        config SYSTEM_WORKQUEUE_STACK_SIZE
    		default 2048

        choice LVGL_THEME_DEFAULT_FONT_NORMAL
            default LVGL_THEME_DEFAULT_FONT_NORMAL_MONTSERRAT_26
        endchoice

        choice LVGL_THEME_DEFAULT_FONT_SMALL
            default LVGL_THEME_DEFAULT_FONT_SMALL_MONTSERRAT_16
        endchoice

        config SSD1306
            default y

        config I2C
            default y

        config SSD1306_REVERSE_MODE
            default y

    endif # ZMK_DISPLAY

    if LVGL

        config LVGL_VDB_SIZE
            default 64

        config LVGL_DPI
            default 148

        config LVGL_BITS_PER_PIXEL
            default 1

        choice LVGL_COLOR_DEPTH
            default LVGL_COLOR_DEPTH_1
        endchoice

    endif # LVGL

    if USB_DEVICE_STACK

        config USB_NRFX
            default y

    endif # USB_DEVICE_STACK

    config BT_CTLR
        default BT

    config ZMK_BLE
        default y

    config ZMK_USB
        default y

    config BONGO_CAT
        bool "WPM animation"
        depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
        select LVGL_USE_IMG
        select LVGL_USE_ANIMATION
        select ZMK_WPM

    config BONGO_CAT_IDLE_LIMIT
        int "Upper limit for WPM for showing idle animation"
        default 30

    config          BONGO_CAT_SLOW_LIMIT
        int "Upper limit for WPM for showing slow typing image"
        default 60

endif # BOARD_BINGO_LEFT || BOARD_BINGO_RIGHT || BOARD_NICE_NANO || BOARD_NICE_NANO_V2
