# nice!nano board configuration

# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config BOARD_BINGO_LEFT
	bool "bingo_left"
	depends on SOC_NRF52840_QIAA

config BOARD_BINGO_RIGHT
	bool "bingo_right"
	depends on SOC_NRF52840_QIAA

