# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SPLITKB_AURORA_CORNE_LEFT

config ZMK_KEYBOARD_NAME
	default "Aurora Corne"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

if ZMK_DISPLAY

choice ZMK_DISPLAY_STATUS_SCREEN
	default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM

endchoice

config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2048

choice LVGL_THEME_DEFAULT_FONT_NORMAL
    default LVGL_THEME_DEFAULT_FONT_NORMAL_MONTSERRAT_26

endchoice

choice LVGL_THEME_DEFAULT_FONT_SMALL
    default LVGL_THEME_DEFAULT_FONT_SMALL_MONTSERRAT_26

endchoice

config LVGL_HOR_RES_MAX
	default 144

config LVGL_VER_RES_MAX
	default 168

config BONGO_CAT
    bool "Show WPM bongo cat"
    select LVGL_USE_IMG
    select LVGL_USE_ANIMATION
    select ZMK_WPM
    default y

endif # ZMK_DISPLAY

endif # SHIELD_SPLITKB_AURORA_CORNE_LEFT


if SHIELD_SPLITKB_AURORA_CORNE_RIGHT

config DEF_RIGHT
    bool "use default display widgets on the right"
    select ZMK_WIDGET_BATTERY_STATUS
    select ZMK_WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
    default y

endif # SHIELD_SPLITKB_AURORA_CORNE_RIGHT


if SHIELD_SPLITKB_AURORA_CORNE_LEFT || SHIELD_SPLITKB_AURORA_CORNE_RIGHT

config ZMK_SPLIT
	default y

config ZMK_RGB_UNDERGLOW
	select WS2812_STRIP
	select SPI

config ZMK_DISPLAY
	select LVGL_USE_CONT
	select LVGL_FONT_MONTSERRAT_26

if ZMK_DISPLAY

config SSD1306
	default y

config I2C
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY

if LVGL

config LVGL_VDB_SIZE
	default 64

config LVGL_DPI
	default 148

config LVGL_BITS_PER_PIXEL
	default 1

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_1
endchoice

endif # LVGL

endif # SHIELD_SPLITKB_AURORA_CORNE_LEFT || SHIELD_SPLITKB_AURORA_CORNE_RIGHT